<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <a class="test-error" href="/inv/detail/634563465436">Error Test Link</a>
</footer>
